backend/node_modules/

frontend/node_modules/
frontend/bower_components/
frontend/dist/

frontend/.cache/
frontend/log/

frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/.idea/
frontend/.vscode/
frontend/*.sublime-project
frontend/*.sublime-workspace

backend/.env
